.siteName {
  text-align: center;
  font-weight: 800;
  font-size: 2em;  
}
.landingPage h2 {
  text-align: center;
  cursor: pointer;
}
.landingPage .appDescription {
  margin-bottom: 25px;
  text-align: justify;
}
.appDescription ul {
  padding: 0;
}
.appDescription li {
  list-style: none;
  margin-bottom: 10px;
}
.descriptionContainer {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sampleAccountLink {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.liEmphasis {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}